<h1>Информация о нас</h1>
<h2>Нашей целью является не заработать на продажах купонов, а изменить отношение к ним.</h2>
<p>
Наша команда является активными пользователями купонов на скидки.
Поэтому при создание сервиса хотели реализовать то, чего нам не хватало, и что нас не устраивало на других сайтах с купонами в Томске:
</p>
<ul class="list">
    <li>❖ Обязательная регистрация (пароль постоянно терялся, приходилось регистрировать новый аккаунт).</li>
    <li>❖ Множество условий по акции, которые необходимо выполнить,чтобы воспользоваться скидкой.</li>
    <li>❖ Качество продукции компаний которые рекламируются на купонах.</li>
</ul>
<p>
Поэтому главной задачей для нас была реализация тезиса: “Нажал-Купил”, с которой мы прекрасно справились. От захода на сайт до покупки купона требуется не более минуты.
</p>
