<h1>Как разместить свою акцию на сайте</h1>
<p>
    В данный момент, размещение акции у нас <b>бесплатное</b>.<br/>
    Для размещения акции, напишите нам в <a class="link" href="https://vk.com/tomcoupon" target="_blank"><b>ВК</b></a> или на почту <b>info@tomcoupon.ru</b>.<br/>
    В письме укажите основную информацию об акции и ваши пожелания (можете сразу приложить дополнительные ресурсы в виде картинок).<br/>
    Укажите контактные данные и мы с вами свяжемся для дальнейшего согласования.<br/><br/>
</p>
