<h1>Возврат денежных средств</h1>
<p>
    Вы можете вернуть купон в течении суток после покупки.
    Для поиска «потерянных купонов», замены купона, и для решения любой
    проблемы с купоном нам нужна дополнительная информация.<br/>
    Только после ее получения мы начинаем искать Ваш платеж, решать «проблему»:<br/>
    <ul>
        <li>Кратко опишите проблемную ситуацию</li>
        <li>Дата платежа (примерное время платежа)</li>
        <li>Сумма платежа</li>
    </ul>
Все эти данные необходимо выслать на почту <b>info@tomcoupon.ru</b> с пометкой <b>«Потерянный купон»</b>.<br/>
    Поиск происходит в течение трех рабочих дней.
</p>
